@using openPER.ViewModels
@model MakesViewModel
@{
    ViewData["Title"] = "Index";
}
@await Html.PartialAsync("_Breadcrumb", Model.Navigation.Breadcrumb)
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            @await Html.PartialAsync("_SidebarMenu", Model.Navigation)
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
            <table class="table table-sm">
                @foreach (var make in Model.Makes)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(make.Description, "Index", "Models", new {Model.Navigation.Language, MakeCode=make.Code, SubMakeCode=make.SubCode})
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
