@using openPER.ViewModels
@model SessionOptionsViewModel

@foreach (var version in Model.Versions)
{
    <li>
        @if (version.Release == Model.CurrentVersion)
        {
            @Html.ActionLink(version.Description, "SetRelease", "Home", new { ReleaseCode = version.Release }, new { @class = "dropdown-item active" })
        }
        else
        {
            @Html.ActionLink(version.Description, "SetRelease", "Home", new { ReleaseCode = version.Release }, new { @class = "dropdown-item" })
        }

    </li>
}
