@model IEnumerable<openPER.Models.CatalogueViewModel>

@{
    ViewData["Title"] = "Catalogues";
}

<h1>Catalogues</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.ActionLink(item.Description, "Groups", new {Make=item.MakeCode, Model=item.Code, Catalogue=item.Code})
            </td>
        </tr>
}
    </tbody>

</table>
