@using openPER.ViewModels
@using System.Linq
@model SearchViewModel

<li>
    <div class="form-group">
        @using (Html.BeginForm("SearchByFullVin", "VinSearch", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="input-group m-1">
                <input id="languageId" name="language" hidden value="@Model.Language"/>
                <label for="searchByVIN">Search by full VIN</label>
                @Html.TextBoxFor(m=>m.FullVin, new {@class="form-control-sm", type="search", placeholder="Full VIN", id="searchByVIN"})
                <span class="input-group-append">
                    <button type="submit" class="btn-sm btn-outline-primary"><i class="fa fa-search"></i></button>
                </span>
            </div>

        }
    </div>
</li>
<li>
    <div class="form-group">
        @using (Html.BeginForm("SearchResults", "Part", FormMethod.Get))
        {
            <div class="input-group m-1">
                <input id="languageId" name="language" hidden value="@Model.Language"/>
                <label for="searchByPart">Search for part number</label>
                @Html.TextBoxFor(m=>m.PartNumber, new {@class="form-control-sm", type="search", placeholder="Part number", id="searchByPart"})
                <span class="input-group-append">
                    <button type="submit" class="btn-sm btn-outline-primary"><i class="fa fa-search"></i></button>
                </span>
            </div>
        }
    </div>
</li>
