@model openPER.ViewModels.GroupsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>GroupsView</h1>

<div>
    <h4>Groups</h4>
    <hr />
    <table class="table table-sm">
    @foreach (var group in Model.Groups)
    {
        <tr><td>@group.Code</td><td>@Html.ActionLink(group.Description, "Index", "SubGroups", new {CatalogueCode=Model.CatalogueCode, GroupCode=group.Code})</td></tr>
    }
    </table>
</div>
