@model openPER.ViewModels.SubSubGroupsViewModel

@{
    ViewData["Title"] = "Index";
}
@await Html.PartialAsync("_Breadcrumb", Model.Breadcrumb)
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Models - Versions</th>
                    </tr>
                    <tr>
                        <th>Category</th>
                    </tr>
                    <tr>
                        <th>Subcategory</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var group in Model.SubGroups)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink($"{group.FullDisplayCode} {group.Description}", "Index", "SubSubGroups", new {Model.ReleaseCode,Model.MakeCode, Model.SubMakeCode, Model.ModelCode, Model.CatalogueCode, group.GroupCode, SubGroupCode = group.Code})
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            @Html.ActionLink("All drawings", "Index", "Drawings", new {Model.ReleaseCode,Model.MakeCode, Model.ModelCode, Model.CatalogueCode, Model.GroupCode, DrawingNumber=1})
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <strong>Subcategory selection</strong>
            <p>Select a subcategory from the side menu or directly from the map.</p>
            <table class="table table-sm">
                @foreach (var group in Model.SubSubGroups)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(group.Code.ToString(), "Detail", "Drawings", new {Model.ReleaseCode,Model.MakeCode,Model.SubMakeCode, Model.ModelCode, Model.CatalogueCode, Model.GroupCode, Model.SubGroupCode, SubSubGroupCode=group.Code, DrawingNumber=1})
                        </td>
                        <td>
                            <ul class="list-group">
                                @foreach (var item in group.Narrative)
                                {
                                    <li class="list-group-item">
                                        @item
                                    </li>
                                }
                            </ul>
                        </td>
                    </tr>
                }
                <tr><td>@Html.ActionLink("All drawings", "Index", "Drawings", new {Model.ReleaseCode,Model.MakeCode, Model.ModelCode, Model.CatalogueCode,Model.GroupCode,Model.SubGroupCode, DrawingNumber=1})</td></tr>
            </table>
            
        </div>
    </div>
</div>
