@model openPER.ViewModels.SubSubGroupsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>SubSubGroupsView</h1>

<div>
    <h4>SubSubGroups</h4>
    <hr />
    <table class="table table-sm">
        @foreach (var group in Model.SubSubGroups)
        {
            <tr>
                <td>

                    @Html.ActionLink(group.Code.ToString(), "Detail", "Drawings", new {Model.ReleaseCode,Model.MakeCode, Model.ModelCode, Model.CatalogueCode, Model.GroupCode, Model.SubGroupCode, SubSubGroupCode=group.Code, DrawingNumber=1})
                </td>
                <td>

                    @Html.ActionLink(group.Code.ToString(), "Index", "Drawings", new {Model.ReleaseCode,Model.MakeCode, Model.ModelCode, Model.CatalogueCode, Model.GroupCode, Model.SubGroupCode, SubSubGroupCode=group.Code, DrawingNumber=1})
                </td>
                <td>
                    <ul class="list-group">
                        @foreach (var item in group.Narrative)
                        {
                            <li class="list-group-item">

                                @item
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </table>
    @Html.ActionLink("All drawings", "Index", "Drawings", new {Model.ReleaseCode,Model.MakeCode, Model.ModelCode, Model.CatalogueCode,Model.GroupCode,Model.SubGroupCode, DrawingNumber=1})

</div>
