@using openPER.ViewModels;
@model BreadcrumbViewModel
<div>
    @Model.MakeDescription/@Model.SubMakeDescription/@Model.ModelDescription/@Model.CatalogueDescription/@Model.GroupDescription/@Model.SubGroupDescription/@Model.SubSubGroupCode/@Model.DrawingNumber
</div>