@using openPER.ViewModels;
@model BreadcrumbViewModel
<div>
    @Model.MakeCode/@Model.SubMakeCode/@Model.ModelCode/@Model.CatalogueCode/@Model.GroupCode/@Model.SubGroupCode/@Model.SubSubGroupCode/@Model.DrawingNumber
</div>