@using openPER.ViewModels
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p>We are sorry that an error has occured in openPer.  Please post details of the error to the forum including the text below.
The text below may include your vehicles's VIN, if you are not happy with making that public then please remove it before posting it to the forum.
</p>
<h3>Diagnostic information</h3>
<p>Failing path: @Model.Path</p>
