@model openPER.ViewModels.SubGroupsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>SubGroupsView</h1>

<div>
    <h4>SubGroups</h4>
    <hr />
    <table class="table table-sm">
    @foreach (var group in Model.SubGroups)
    {
        <tr><td>@group.FullDisplayCode</td><td>@Html.ActionLink(group.Description, "Index", "SubSubGroups", new {Model.ReleaseCode, Model.CatalogueCode, group.GroupCode, SubGroupCode = group.Code})            
</td></tr>
    }
    </table>
</div>
