@using openPER.ViewModels
@model MakesViewModel
@{
    ViewData["Title"] = "Index";
}
@section Navbar
{
    @await Html.PartialAsync("_Navbar", Model.Navigation)
}
@await Html.PartialAsync("_Breadcrumb", Model.Navigation)
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
            @await Html.PartialAsync("_SidebarMenu", Model.Navigation)
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-12">
            <h5>openPER</h5>
            <p>@Resources.FrontEnd.IntroParagraph</p>
        </div>
    </div>
</div>