@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wotcha</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>See a table <a href="@Url.Action("Details", "Table", new {Make="F", Model="183", Catalogue="PK", Group = "443", SubGroup = "05", SgsCode = "0", Drawing=2})">cHEESE</a></p>
    <p>
    <img src="@Url.Action("Thumbnail", "Table", new {Make="F", Model="183", Catalogue="PK", Group = "443", SubGroup = "05", SgsCode = "0", Drawing=2})"></img>
    </p>
</div>
