@model IEnumerable<openPER.Models.MakeViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">


<vc:vin-search-widget></vc:vin-search-widget>
<br/>

<vc:language-choice-widget></vc:language-choice-widget>
    <h1 class="display-4">Makes</h1>
<p>
@Resources.FrontEnd.IntroParagraph
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Description, "Models", "Table", new {Make=item.Code})
            </td>

        </tr>
}
    </tbody>
</table>
    	
</div>
