@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wotcha</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>See a table <a href="@Url.Action("Details", "Table", new {Make="F", Model="276", Catalogue="1B", Group = "10", SubGroup = "000", SgsCode = "0", Drawing=1})">cHEESE</a></p>
</div>
