@model openPER.ViewModels.CataloguesViewModel

@{
    ViewData["Title"] = "Index";
}
@await Html.PartialAsync("_Breadcrumb", Model.Breadcrumb)
<h1>Index</h1>

<div>
    <h4>CataloguesViewModel</h4>
    <table class="table table-sm">
        @foreach (var item in Model.Catalogues)
        {
            <tr><td>@item.Code</td><td>@Html.ActionLink(item.Description, "Index", "Groups", new { Model.ReleaseCode,item.MakeCode,item.SubMakeCode, item.ModelCode, CatalogueCode=item.Code})</td></tr>
        }
    </table>
</div>

