@model openPER.ViewModels.CataloguesViewModel

@{
    ViewData["Title"] = $"Catalogues for {Model.Navigation.Breadcrumb.MakeDescription} {Model.Navigation.Breadcrumb.ModelDescription}";
}
@section Navbar
{
    @await Html.PartialAsync("_Navbar", Model.Navigation)
}

@await Html.PartialAsync("_Breadcrumb", Model.Navigation)
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
            @await Html.PartialAsync("_SidebarMenu", Model.Navigation)
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-12">
            <img src="@Model.ImagePath" alt="@(Model.Navigation.Breadcrumb.ModelDescription)" title="@(Model.Navigation.Breadcrumb.ModelDescription)">

        </div>
    </div>
</div>




