@using openPER.ViewModels
@model SessionOptionsViewModel

@foreach (var lang in Model.Languages)
{
    <li>
        @if (lang.Code == Model.CurrentLanguage)
        {
            @Html.ActionLink(lang.Description, "SetLanguage", "Home", new { LanguageCode = lang.Code }, new { @class = "dropdown-item active" })
        }
        else
        {
            @Html.ActionLink(lang.Description, "SetLanguage", "Home", new { LanguageCode = lang.Code }, new { @class = "dropdown-item" })
        }

    </li>
}
