@model LanguagesViewModel
@using(Html.BeginForm("Index", "Home", FormMethod.Post))
{
@Html.DropDownListFor(m=>m.CurrentLanguage, new SelectList(Model.Languages, "Code", "Description"))
<button type="submit" class="btn btn-info">Search</button>

}
