@using openPER.ViewModels
@model ModelsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table table-sm">

    <tbody>
        @foreach (var item in Model.Models)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Description, "Index", "Catalogues", new {ReleaseCode = Model.ReleaseCode, MakeCode=item.MakeCode, ModelCode=item.Code})
                </td>
                <td>
                    <img src="@Url.Action("ModelImage", "Image", new {ReleaseCode=Model.ReleaseCode,Make=Model.MakeCode, Model=item.Code})">
                </td>

            </tr>
        }
    </tbody>
</table>
