@using openPER.ViewModels
@model ModelsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table table-sm">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Models) {
        <tr>
            <td>
                @Html.ActionLink(item.Description, "Index", "Catalogues", new {ReleaseCode = Model.ReleaseCode, MakeCode=item.MakeCode, ModelCode=item.Code})
            </td>
        </tr>
}
    </tbody>
</table>
