@using openPER.ViewModels
@model ModelsViewModel
@{
    ViewData["Title"] = "Index";
}
@await Html.PartialAsync("_Breadcrumb", Model.Navigation)
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            @await Html.PartialAsync("_SidebarMenu", Model.Navigation)
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-12">
            <div class="container-fluid">
                <div class="row">
                @{
                    foreach (var model in Model.Models)
                    {
                        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                            <a href="@Url.Action("Index", "Catalogues", new {Model.Navigation.Language, Model.Navigation.Breadcrumb.MakeCode, Model.Navigation.Breadcrumb.SubMakeCode, ModelCode = model.Code })">
                                <img title="@(model.Description)" src="@(model.ImagePath)" alt="@(model.Description)">
                            </a>
                        </div>
                    }

                }
                </div>
            </div>
        </div>
    </div>
</div>
